@font-face {
font-family: 'ProximaNova-Black';
src: url('../../build/fonts/ProximaNova-Black/ProximaNova-Black.eot');
src: url('../../build/fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
url('../../build/fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-Bold';
src: url('../../build/fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
src: url('../../build/fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
url('../../build/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-BoldIt';
src: url('../../build/fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.eot');
src: url('../../build/fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.woff') format('woff'),
url('../../build/fonts/ProximaNova-BoldIt/ProximaNova-BoldIt.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-Extrabld';
src: url('../../build/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot');
src: url('../../build/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff') format('woff'),
url('../../build/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-Light';
src: url('../../build/fonts/ProximaNova-Light/ProximaNova-Light.eot');
src: url('../../build/fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
url('../../build/fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-LightIt';
src: url('../../build/fonts/ProximaNova-LightIt/ProximaNova-LightIt.eot');
src: url('../../build/fonts/ProximaNova-LightIt/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-LightIt/ProximaNova-LightIt.woff') format('woff'),
url('../../build/fonts/ProximaNova-LightIt/ProximaNova-LightIt.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-Regular';
src: url('../../build/fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
src: url('../../build/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
url('../../build/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-RegularIt';
src: url('../../build/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.eot');
src: url('../../build/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.woff') format('woff'),
url('../../build/fonts/ProximaNova-RegularIt/ProximaNova-RegularIt.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova-Semibold';
src: url('../../build/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
src: url('../../build/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('../../build/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
url('../../build/fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}